.topbar-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  @media (max-width: 516px) {
    .header-links-wrapper {
      max-width: 100%;
    }
  }
  @media (min-width: 1200px) {
    .header-links-wrapper {
      display: none;
    }
  }
  .dropdown__button {
    .js-dropdown-title {
      margin-right: 2rem;
      @media (max-width: 1200px) {
        margin-right: 0rem;
      }
    }
  }
}
